body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-top: 20px;
    color: #343a40;
  }
  
  .navbar {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    padding-top: 50px;
  }
  